.timer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timer-item {
    background: #eee;
    color: black;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
}

.timer-item:last-child {
    margin-bottom: 0;
}

.timer-item .timer-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.timer-item .timer-info .timer-type {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    font-weight: 500;
}

.timer-item .timer-info .timer-details {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.timer-item .timer-info .timer-details span {
    background: #dddddd;
    color: #3e3e3e;
    padding: 4px 10px;
    border-radius: 4px;
}

.timer-item .remove-button {
    background-color: #f8446e;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.timer-item .remove-button:hover {
    background-color: #d84567;
}

.timer-controls {
    display: flex;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

.workout {
    background-color: #000;
    color: #FFF;
    border-radius: 16px;
    padding: 20px;
    font-size: 16px;
    height: auto;
    width: 280px;
    padding: 32px;
    text-align: center;
}

.active-timer {
    background-color: #c0c0c0;
  }


.timer-item:hover {
    cursor: grab;
}

.timer-item.dragging, .timer-item.dragging:hover {
    cursor: grabbing !important;
}

.timer-description {
    font-size: 14px;
    background-color: #69c3e1;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

